{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>Praesent enim ante, pellentesque convallis hendrerit ut, sodales eget metus. Sed lacinia in turpis quis maximus. Integer auctor massa ut aliquet imperdiet. Sed arcu metus, ornare et nisl non, euismod interdum justo. Ut dapibus libero condimentum auctor molestie. Fusce quis justo ex. Morbi lobortis quis sapien in varius. Aliquam pharetra fringilla velit quis elementum. Vivamus eget vulputate felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce aliquam dolor velit, in facilisis ante sodales ac. Donec iaculis orci magna, eu efficitur mauris laoreet sed. Duis commodo mollis tortor. Suspendisse nec risus rutrum erat rutrum hendrerit vitae ut tellus.</p>
{{end}}